.QNo{   
    position: absolute;
    width: 600px;
    height: 85px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    color: #28C3D4;
    
    }
    .question{
    position: relative;
    width: 1164px;
    height: 90px;
    font-family: sans-serif;
    font-size: 32px;
    line-height: 48px;
    }