<div class="row pt-2">
    <div class="col-6 m-auto">
        <div class="card card-body">
            <div class="text-center">
                <img  src="./img/photoshop/logo.jpg " class=" login-reg-img rounded-circle">
            </div>
            <h3 class="text-center overflow-hidden">
                Account Login
            </h3>
            <form method="post" action="/login">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>