
<div class="row pt-2">
    <div class="col-6 m-auto">
        <div class="card card-body">
            <div class="text-center">
                
                <img  src="./img/photoshop/logo.jpg " class=" login-reg-img rounded-circle">
            </div>
            
            <h3 class="text-center overflow-hidden">
                Account Register
            </h3>
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="user"  value="{{user}}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" value="{{email}}" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" value="{{password}}" required>
                </div>
                <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmpassword" value="{{confirmpassword}}" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>