<form action="/instruction" method="post">
    <div class="container-fluid mt-5 text-center">
        <h1 class="app-name">Brain Teasers</h1>
        <img  src="./img/photoshop/logo.jpg " class="rounded-circle img-fluid  mt-5"><br>
        <button  class="btn btn-info mt-5 app-btn pl-5 pr-5">Lets Start</button>
    <div>
</form>