<form action="/question" method="post">
    <div class="text-center">
        <div class="col-12 mt-5">
                <img src="./img/Arab-Boss-icon.png" class="rounded-circle img-fluid lg-profile-img">
        </div>
        <div class="col-12  mt-5">
            <div class="row">
                <div class="col-6 text-right">
                    <input type="text" name="user" placeholder="Enter Your name.. Arab Boss" class="info-name" value="Arab Boss" >
                    <input type="hidden" name="score" class="info-name" value="0" >
                </div>
                <div class="col-6 text-left">
                    <i class="far fa-clock instruction-heading" aria-hidden="true"></i>
                    <span class="instruction-heading info-time">
                            5:00</span><span class="instruction-heading">Min
                    </span>
                </div>
            </div> 
        </div>
        <button class="btn btn-info mt-5 app-btn pl-5 pr-5" id="submit-name">Start</button>
    </div>
</form>