<form action="/info" method="post">
    <div class="container mt-5  mx-auto info-size">
        <h1 class="instruction-heading">Instructions</h1>
                <div class="row instruction-short-info mt-3">
                        <div class="col-6">
                            <span class="app-highlight">Points :
                                    </span><span> 10</span> 
                        </div>
                        <div class="col-6  text-right">
                            <span class="app-highlight">Questions :
                            </span><span>  10</span> 
                        </div>
                        <div class="col-6">
                            <span class="app-highlight">Time Limit :
                            </span><span> 5 Min</span> 
                        </div>    
                    </div>
        <div class="instruction-brief-info mt-5">
            <p><span class="app-highlight">1.</span> You have to attend 10 questions Each carrying 10 points</p>
            <p><span class="app-highlight">2.</span> You have only 5 min to attain 10 question</p>
            <p><span class="app-highlight">3.</span> In case you want quit the game click Quit button</p>
        </div>
        <div class="text-center mb-5">
            <button class="btn btn-info mt-5 app-btn pl-5 pr-5">Attempt</button>
        </div>
    </div>
</form>