
        <div class="container-fluid  mt-5 ">
            <div class="score-box row ">
                <div class="col-6 mt-5 mb-5">
                                <img src="./img/Arab-Boss-icon.png" alt="Arab-Boss-icon" class="rounded-circle lg-profile-img image">    
                            </div>
                            <div class="col-6 text-right mt-5 mb-5">
                                    <h1 class="app-name text-center text-white" id="user-name">Arab Boss</h1>
                                    <br>
                                    <p class="text-center text-white"><span class="">Your score:</span><span class="score"name></span>/<span class="totalscore">100</span></h1>
                        </div>            

             </div >
             <div class="row text-center">
                 
             <div class="col-6">
                    <a href="#" class="btn btn-info mt-5 app-btn pl-5 pr-5" id="Play_again">Play again</a>
            </div>
            <div class="col-6">
                    <a href="#" class="btn btn-info mt-5 app-btn pl-5 pr-5" id="End_game">End game</a>
            </div>

             </div>
        </div>

        <div class="text-center mt-5">

{{!-- <table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Score</th>
        </tr>
    </thead>
    <tbody>
      {{#each list}}

        <tr>
            <th>{{this.user}}</th>
            <td>{{this.score}}</td>
        </tr>
        {{/each}}
    </tbody>
</table> --}}
</div>